<<<<<<< HEAD
.artikelText{
    font-weight: bold;
    text-align: left;
    margin-left: 140px;
    margin-top: 60px;
    margin-right: 100px;
    padding-bottom: 10px;
    font-size: 14pt;
    border-bottom: 1px solid;
}
=======
.jarak{
    margin-top: 2%;
}

h6{
    font-weight: bold;
    text-align: left;
    margin-bottom: 3%;
    padding-bottom: 10px;
    font-size: 14pt;
    border-bottom: 1px solid;
}

u{
    color: blue;
}

.garishr{
    font-weight: bold;
    text-align: left;
    font-weight: bold;
    text-align: left;
    margin-bottom: 3%;
    margin-top: 8%;
    padding-bottom: 10px;
    font-size: 14pt;
    border-bottom: 1px solid;
}
>>>>>>> 08891b72c0235a7f05650affc2635e5c026f4c7a
