@import url('https://fonts.googleapis.com/css?family=Poppins');

.container{
  margin-top: 50px;
  font-family: 'Poppins';
  }

.jadwal-header {
  font-size: xx-large;
  font-weight: bold;
  border-bottom: 1px solid;
}

.font-jadwal {
  font-size: 20px;
}

.event-button {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 30px;
  color: #fff;
  background-color: black;
}

.flyer {
  width: 508px; 
  height: 720px;
}