.body{
    border: 1px solid;
    border-radius: 1cm;
    margin-top: 50px;
    padding-top: 20px;
    height:525px;
    width:720px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.column{ 
    padding-left: 100px;
}

.variabel{
    width:35%;
}
